@font-face {
    font-family: boldHeading;
    src: url(../fonts/PTSerif-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: regularText;
    src: url(../fonts/PTSerif-Regular.ttf);
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    padding-inline-start: 0;
}

figure {
    margin: 0;
    background-color: #FFFCF2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: boldHeading;
    color: #4A2C2C;
}

h1 {
    font-size: 2em;
}

p a {
    color: #BA494C;
}
  
body {
    padding: 0;
    margin: 0;
    background-color: #FFF2D7;
    font-family: regularText;
}

header {
    background-color: #FFFCF2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5%;
    border-bottom: 4px solid #BA494C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 16em;
}

.menu {
    display: flex;
    margin: 0 2em;
}

.menu li {
    list-style: none;
    margin: 0 1.1em;
}

.menu li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #4A2C2C;
    padding: 4px 8px;
}

.search-box {
    background-color: #FFFCF2;
    border-radius: 2em;
    border: 2px solid #BA494C ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.8em;
}

.search-box button {
    all: unset;
    cursor: pointer;
}

.search-box img {
    width: 1.5em;
}

.search-box input {
    border: none;
    outline: none;
    background: none;
    font-size: 0.9em;
}

.search-section {
    width: 39%;
    height: 100%;
    background-image: url(../images/pizza.png);
    background-repeat: no-repeat, repeat;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-section h1 {
    font-size: 2em;
    color: white;
}

.find-recipe-box {
    background-color: #FFFCF2;
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em;
    opacity: 0.7;
    margin: 1em;
}

.find-recipe-box img {
    width: 1.5em;
    padding-right: 0.5em;
    cursor: pointer;
}

.find-recipe-box input {
    border: none;
    outline: none;
    background: none;
    font-size: 0.9em;
    width: 18em;
}

main {
    margin-top: 9em;
    margin-bottom: 4em;
}

.recipe-section h1 {
    color: #4A2C2C;
    font-size: 2em;
}

.recipe-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
    margin-top: 2em;
    gap: 1.5em;
}

.recipe-list > * {
    flex: 12em;
}

.recipe-info {
    padding: 1em;
}

.recipe-overview {
    width: 12em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFCF2;
}

.recipe-overview img {
    width: 100%;
}
  
.meal-type {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: #BA494C;
    font-weight: bolder;
}
  
.meal-name {
    font-size: 1.4em;
    font-weight: bold;
    color: #4A2C2C;
}
  
.cooking-time {
    font-size: 0.8em;
    color: #6b6b6b;
}

.heading-section {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.explore-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFCF2;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    border: 1px solid #4A2C2C;
}

.explore-box > * {
    flex: 1em;
}

.explore-box a {
    text-decoration: none;
    color: #FFFCF2;
    background-color: #BA494C;
    padding: 0.4em;
    margin: 0.5em;
}

.explore-recipes-section {
    margin: 0 auto;
    width: 80%;
}

.explore-recipes-section h1 {
    margin-top: 2em;
    border-bottom: 1px solid #4A2C2C;
}

.explore-recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
}

.explore-recipes-list > * {
    flex: 15em;
}

.tips-section {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.tips-list {
    text-align: start;
}

.tip-overview {
    display: flex;
    background-color: #FFFCF2;
    border: 1px solid #4A2C2C;
    margin-top: 3em;
}

.tip-overview img {
    object-fit: cover;
    width: 15em;
    float: left;
}

.tip-info {
    padding: 1em;
}

.google-maps-section {
    margin: 4em auto;
    width: 70%;
    text-align: center;
}

#map {
    width: 100%;
    height: 20em;
    border: 2px solid #4A2C2C;
}

.subscribe-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

label {
    margin-bottom: 5px;
}
  
span {
    color: red;
}
  
input[type="text"], input[type="email"] {
    padding: 1em;
    margin-bottom: 10px;
    border: 1px solid #4A2C2C;
    border-radius: 1em;
    width: 20em;
}
  
input[type="submit"] {
    background-color: #BA494C;
    color: white;
    padding: 0.6em 1.6em;
    margin-top: 1em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ba494db0;
}
  
input[type="submit"]:focus {
    outline: none;
}  

.subscribe-section {
    text-align: center;
}

#ordered-list {
    margin-top: 4em;
    text-align: justify;
}

#steak-video {
    width: 100%;
    height: 25em;
}

.table-section {
    padding-top: 3em;
    margin: 0 auto;
    width: 60%;
}

.table-section table {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFCF2;
}
  
.table-section table td, th {
    border: 1px solid #4A2C2C;
    padding: 8px;
    text-align: left;
}

footer {
    border-top: 4px solid #BA494C;
    padding: 10px 0 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #FFFCF2;
    text-align: center;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    padding-inline-start: 0px;
}

footer ul li a {
    color: #4A2C2C;
    text-decoration: none;
    padding: 10px 10px;
}

footer p {
    font-size: 12px;
    margin-top: 2em;
    color: #4A2C2C;
}

.menu-icon {
    display: none;
  }

@media (max-width: 850px) {
    .search-section {
        margin-top: -2em;
        margin-bottom: 2em;
        width: 100%;
        height: 15em;
        position: relative;
        background-image: url(../images/pizza.png);
        background-repeat: no-repeat, repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-section h1 {
        margin: 0;
    }
    
    .home-main {
        text-align: center;
        float: none;
        width: 100%;
    }

    .recipe-section {
        margin-top: 2em;
    }

    .tip-overview {
        display: flex;
        flex-direction: column;
        background-color: #FFFCF2;
        border: 1px solid #4A2C2C;
        margin-top: 3em;
    }

    .tip-overview img {
        width: 100%;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        width: 2em;
        height: auto;
        position: absolute;
        top: 0;
        right: 1.2em;
        padding: 1.8em  1em;
      }
      
      .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #FFFCF2;
        margin: 0;
      }
      
      .menu li {
        margin: 0;
        width: 100%;
      }
      
      .menu li a {
        display: block;
        padding: 12px 24px;
      }
      
      .menu a:hover {
        background-color: #f5f2e9;
      }
  
      .menu-icon:hover + .menu,
      .menu:hover {
          display: flex;
      }
  
      .search-box {
          display: none;
      }
}

@media (max-width: 1080px) {
    .search-box {
        display: none;
    }
}